.question {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.qus {
  border: 2px solid rgb(204, 185, 185);
  border-radius: 20px;
  margin: 40px 20px;
  padding: 10px;
  width: 550px;
}
